<div class="ed-gal">
  <div class="ed-gal__main" [class.ed-gal__main--out]="agotado">
    <img *ngIf="imagenes?.length"
         [src]="imagenes[idx]"
         alt="Imagen principal"
         class="ed-gal__main-img" />
    <span *ngIf="agotado" class="ed-gal__agotado" aria-hidden="true">Agotado</span>
  </div>

  <div class="ed-gal__thumbs" *ngIf="(imagenes?.length || 0) > 1">
    <button
      type="button"
      class="ed-gal__thumb"
      *ngFor="let img of imagenes; index as i"
      [class.ed-gal__thumb--active]="i === idx"
      (click)="sel(i)">
      <img [src]="img" alt="Miniatura" />
    </button>
  </div>
</div>

